.wrapper-container-rating{
    /* background-color: hsla(var(--clr-dark-blue)); */
    background: rgb(39,47,56);
    background: radial-gradient(at top, rgba(39,47,56,1) 0%, rgba(20,28,38,1) 90%);
    border-radius: 30px;
    /* padding: var(--paddingContainer, 2rem);
    max-width: var(--widthContainer, 410px); */
    padding: 2rem 2.7rem;
    max-width: 410px;
    margin: 0 2rem;
}

@media only screen and (max-width: 600px) {
    .wrapper-container-rating{
        max-width: var(--widthContainer, 350px);
        padding: 2.5rem 1.5rem;
        border-radius: 20px;
    }
}